@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.layer {
  transform: scale(1.3);
}

.core {
  mask-image: radial-gradient(33vw, black 50%, transparent 50%);
}

.core-spin {
  animation: coreSpin 1500ms ease-in-out 400ms;
}

.mantle {
  mask-image: radial-gradient(67vw, black 50%, transparent 50%);
}

.mantle-spin {
  animation: mantleSpin 1500ms ease-in-out 600ms forwards;
}

.mantle-scale {
  animation: mantleScale 1500ms ease-in-out 600ms forwards;
}

.crust {}

.crust-spin {
  animation: crustSpin 1500ms ease-in-out 800ms forwards;
}

.crust-scale {
  animation: crustScale 1500ms ease-in-out 800ms forwards;
}

.seperator {
  clip-path: polygon(0 50%, 23% 48%, 50% 48%, 75% 48%, 100% 50%, 75% 51%, 50% 51%, 24% 51%);
}

.image {
  transition: opacity 1200ms;
}

@keyframes coreSpin {
  0% {
    transform: scale(1.3) rotate(0deg);
  }

  100% {
    transform: scale(1.3) rotate(360deg);
  }
}

@keyframes mantleSpin {
  0% {
    transform: scale(1.3) rotate(0deg);
  }

  100% {
    transform: scale(1.3) rotate(360deg);
  }
}

@keyframes mantleScale {
  50% {
    transform: scale(2);
  }
}

@keyframes crustSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes crustScale {
  0% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(4);
  }

  100% {
    transform: scale(1.3);
  }
}

.text-upwards {
  animation: textUpwards 500ms ease-out 1000ms forwards;
}

/*  Text Animation */
@keyframes textUpwards {
  0% {
    transform: translateY(0%);
  }

  50% {
    display: none;
    transform: translateY(-100%);
  }

  51% {
    display: flex;
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Media Queries */


@media (max-width: 1024px) {
  .core {
    mask-image: radial-gradient(20rem, black 50%, transparent 50%);
  }

  .mantle {
    mask-image: radial-gradient(40rem, black 50%, transparent 50%);
  }
}